
/* 커스텀 탭 스타일 */
/* 탭 컨텐츠 영역에 height 100% 적용 안될 때 .setting-wrapper 클래스 추가 */
.setting-wrapper .k-tabstrip-content.k-active {
    contain: size;
    overflow-x: auto !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

.setting-wrapper .k-animation-container,
.setting-wrapper .k-child-animation-container {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}

.setting-wrapper .k-tabstrip-content.k-active [id*="r"] {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}